    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Swift Crypto LLC</h2>
                <p>Swift Crypto LLC is a small crypto mining business based in Leesburg VA.  It was started in 2021 to mine Ethereum.  Since that time, it has expanded to mining other crypto-currencies and operating a Cardano validator under the ticker "4WARD".</p>
                <p>Cardano Pool information can be found <a href="https://adapools.org/pool/b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80" target="_top">here</a>.</p>
                <br>
                <p><a href="https://www.linkedin.com/in/stevenkfisher" target="_top">Steven Fisher</a>, the owner and operator of Swift Crypto LLC, brings over 22 years of Software and Systems Engineering experience.</p>
            </div>
        </div>
    </section>