    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container post-section ms-auto me-auto">
                <h2>About Swift Crypto LLC</h2>
                <p>Swift Crypto LLC is a small business crypto mining company based in Leesburg VA USA.  It was started in 2021 to mine Ethereum.  Since that time, it has expanded to operating the <a href="https://4wardpool.swiftcryptollc.com" target="_top">ADA for Warriors (4WARD)</a> Cardano pool.</p>
                <p>Our Cardano pool donates 30% of our operator rewards to the Third Option Foundation, 10% to 500 Rising, and another 10% to Captive Audience.  See our <a href="https://4wardpool.swiftcryptollc.com" onclick="updateGoogle('4ward')">ADA for Warriors</a> website for further information.</p>
                <iframe width="500" height="320" frameborder="0" src="https://img.cexplorer.io/w/widget.html?pool=pool1kcrr7re05pwesye0zh00a4xxnsrw5c29rd82fn4qecdcqu5rue3&theme=dark"><a href="https://cexplorer.io/pool/pool1kcrr7re05pwesye0zh00a4xxnsrw5c29rd82fn4qecdcqu5rue3" onclick="updateGoogle('adapools')" >pool detail on cexplorer.io</a></iframe>                
                <br />
                <p><a href="https://www.linkedin.com/in/stevenkfisher" target="_top">Steven Fisher</a>, the owner and operator of Swift Crypto LLC, brings over 22 years of Software and Systems Engineering experience.</p>
        </div>
    </section>