    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container post-section ms-auto me-auto">
                <h2>About Swift Crypto LLC</h2>
                <p>Swift Crypto LLC is a small business crypto mining company based in Leesburg VA USA.  It was started in 2021 to mine Ethereum.  Since that time, it has expanded to operating the <a href="https://4wardpool.swiftcryptollc.com" target="_top">ADA for Warriors</a> (4WARD) Cardano pool.</p>
                <p>Our Cardano pool donates 50% of our operator rewards to the Third Option Foundation.  See our <a href="/donations/third-option-foundation/" onclick="updateGoogle('/donations/third-option-foundation/')">donation</a> page for further information.</p>
                <iframe width="500" height="380" frameborder="0" src="https://js.adapools.org/widget-dark.html?pool=b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80"><a href="https://adapools.org/pool/b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80">Detail</a></iframe>
                <br />
                <p><a href="https://www.linkedin.com/in/stevenkfisher" target="_top">Steven Fisher</a>, the owner and operator of Swift Crypto LLC, brings over 22 years of Software and Systems Engineering experience.</p>
        </div>
    </section>