    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="post-section col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>If you are interested in crypto-mining or <a href="https://4wardpool.swiftcryptollc.com/#contact">delegating</a> with us and want to learn more, please reach out!</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}"  target="_blank" class="btn btn-default btn-lg"><i class="fab fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>