    <!-- Download Section -->
    <section id="guides" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Guides</h2>
                    <ul>
                      {% for post in site.posts %}
                        <li>
                          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>