    <!-- Download Section -->
    <section id="guides" class="content-section text-center">
        <div class="info-section">
            <div class="container ms-auto me-auto">
                    <h2 class="ms-auto me-auto">Guides</h2>
                    <ul class="ms-auto me-auto" style="padding-left: 0px !important;">
                      {% for post in site.posts %}
                        <h2 class="ms-auto me-auto"><a href="{{ post.url }}"  onclick="updateGoogle({{ post.url }})">{{ post.title }}</a></h2>
                      {% endfor %}
                    </ul>
            </div>
        </div>
    </section>