    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">A small business crypto mining company that also runs the ADA for Warriors (4WARD) Cardano pool.<br>
                        <a href="#news" class="btn btn-circle page-scroll">
                            <i class="fas fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
