<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <meta name="google-site-verification" content="Fl3O2ungPfLslbQZezqEhURE0SkzxztkEJrb3M0wUpg" />
    <meta name="description"
        content="A small crypto mining business that mines Ethereum and runs a mission-driven single Cardano stake pool 'ADA for Warriors' (4WARD).">
    <meta name="keywords"
        content="Cardano, cardano price, crypto, cardano ada, cryptocurrency, crypto news, ethereum, ethereum price, investment" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="/img/icon.png">
  
    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/all.min.css" | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0JE8QE19YX">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0JE8QE19YX');
        function updateGoogle(page_path) {
            gtag('set', 'page_path', page_path);
            gtag('event', 'page_view');
        }
    </script>
    <script>
        // Open the Modal
        function openModal(clicked_id) {
          var src = document.getElementById(clicked_id).src;
          document.getElementById("modalPic").src = src;
          document.getElementById("myModal").style.display = "block";
          document.getElementById("nav").style.display = "none";
          // Ensures the site footer is not shown if front of the modal. Remove if this is not an issue or
          // there is no footer. "site-footer" id can also be changed appropriately.
          //document.getElementById("site-footer").style.display = "hidden";
        }
        
        // Close the Modal
        function closeModal() { 
          // prevents flashing last modal image while new id is loading on open
          document.getElementById("modalPic").src = "";
          document.getElementById("myModal").style.display = "none";
          document.getElementById("nav").style.display = "block";
          // See note above regarding the footer 
          //document.getElementById("site-footer").style.display = "block";
        }
        </script>
</head>