    <!-- News Section -->
    <section id="news" class="content-section text-center">
        <div class="info-section">
            <div class="container ms-auto me-auto">
                    <h2 class="ms-auto me-auto">News</h2>
                    <ul class="ms-auto me-auto" style="padding-left: 0px !important;">
                      {% for news in site.news reversed %}
                        <h2 class="ms-auto me-auto"><a href="{{ news.url }}" onclick="updateGoogle({{ news.url }})">{{ news.title }}</a></h2>
                      {% endfor %}
                    </ul>
            </div>
        </div>
    </section>