.code-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .copy-code-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 8px;
    font-weight: 900;
    color: black;
    top: 20px !important;
    position: relative;
    border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  font-size: 20px;
  border-bottom: 1pt solid rgb(255, 255, 255);
}

tbody td {
  padding-top: 5px;
  font-size: 18px;
}

thead + tbody {
  border-bottom: 1pt solid rgb(255, 255, 255);
}

tbody + tbody {
  font-weight: bold !important;
  font-size: 20px !important;
}

li a {
  font-size: 18px;
}

li {
  font-size: 18px;
}

a {
  color: #8bcbff !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  color: #8bcbff !important;
  text-shadow:
    0 0 4px #8bcbff,
    0 0 8px #8bcbff,
    0 0 16px rgb(0, 102, 255),
    0 0 24px rgb(0, 102, 255),
    0 0 36px rgb(0, 102, 255) !important;
}

.guide {
  background-color: #03132d;
  background-image: url(/img/guide-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.post-section {
  padding-top: 100px;
}