<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="guide" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% include nav_full.html %}
        <div class="container content-section text-left">
            <div class="row">
                <div class="post-section col-md-8 col-md-offset-2">
                    <h2>{{ page.title }}</h2>
                    <i>Post Date: {{ page.date }}</i>
                    {{ content }}
                </div>
            </div>
        </div>
        {% include contact.html %}
        {% include footer.html %}
        {% include js.html %}
        {% include modal.html %}
    </body>
</html>